$desktop: 768px;
$category-color: #bbb;
$mobile-cat-size: 9px;
$desktop-cat-size: 14px;

.thumb {
  float: left;
  //mobile
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 20px;
  padding: 10px 0px;
  //desktop
  @media (min-width: $desktop){
    margin: 10px 20px;
    padding: 10px 0px;
    width: 186px;
    height: 150px;
  }
  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

.post-info {
    float: left;
    width: calc( 100% - 226px);
}

.category {
  font-family: Helvetica Neue;
  font-weight: bold;
  color: $category-color;
  font-size: $mobile-cat-size;
  .mobile-time {
    font-weight: 300;
  }
  @media (min-width: $desktop){
    font-size: $desktop-cat-size;
  }
}
 .blah {}
