$desktop: 768px;
$category-color: #bbb;
$timestamp-color: #999;
$mobile-cat-size: 9px;
$desktop-cat-size: 14px;
$headline-color: #333;
$headline-size-mobile: 16px;
$headline-size-desktop: 26px;
$desktop-info-size: 13px;
$author-color: #EA3830;

.post-box {
  display: flex;
  align-items: center;
  .thumb {
    float: left;
    height: 120px;
    margin: 10px 15px 10px 20px;
    padding: 10px 0px;
    @media (min-width: $desktop) {
      height: 170px;
      margin: 10px 20px;
      padding: 10px 0px;
    }
    & img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 3px;
      @media (min-width: $desktop) {
        width: 186px;
        height: 150px;
      }
    }
  }
  .post-info {
      float: left;
      width: calc(100% - 135px);
      margin-right: 20px;
      font-family: Helvetica Neue;
      @media (min-width: $desktop){
        width: calc(100% - 226px);
        margin-right: 0;
      }
    .category {
      font-weight: 500;
      color: $category-color;
      font-size: $mobile-cat-size;
      margin-bottom: 0;
      .mobile-time {
        font-weight: normal;
        color: $timestamp-color;
      }
      @media (min-width: $desktop){
        font-size: $desktop-cat-size;
        .mobile-time {
          display: none;
        }
      }
    }
    .headline {
      color: $headline-color;
      font-size:$headline-size-mobile;
      font-weight: 500;
      line-height: 17px;
      @media (min-width: $desktop) {
        font-size: $headline-size-desktop;
        line-height: 28px;
      }
    }
    .desktop-info {
      display: none;
      @media (min-width: $desktop) {
        display: block;
        font-weight: normal;
        font-size: $desktop-info-size;
        color: $category-color;
        .author {
          color: $author-color;
        }
      }
    }
  }
}
